$color1: white ;
$color2: #0e0eb9;
$color3:wheat;
$color4: rgb(9, 9, 151);
$color5: rgb(44, 44, 230);
$color6: rgba(128, 128, 128, 0.103);

$colorgradient1: linear-gradient(to right, #0a0a7a, #0b0bb3);
$colorgradient2: linear-gradient( #c2c2fd8c,white,);

$fontsize1: 25PX;
$fontsize2: 50px; 
$fontsize3: 60px;

$fontweight1: 400;
$fontweight2: 600;
$fontweight3: 700;
$fontweight4: 800;

$ancho1: 100%;
$ancho2: 50%;


$fontcolors:(
    red1: rgb(1, 1, 116),
    red2: rgb(17, 17, 158),
);

.main__sectiongrid{
    margin: 20px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 150px;
    list-style-type: disc;
    display: grid;
    grid-template-areas: 
    "imgli1 imgli2"
    "imgli3 imgli4"
    "imgli5 none"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.img1{
    grid-area: imgli1;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img2{
    grid-area: imgli2;
    width: 100%;
}
.img3{
    grid-area: imgli3;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.img4{
    grid-area: imgli4;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img5{
    grid-area: imgli5;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}


.main__sectiongrid li a:hover{
    color: wheat;
}
.main__sectiongrid a{    
    text-decoration: none;
    color: $color4(10, 10, 119);
}
/* fin de section grid*/
.form{
    color: $color4;
    font-size: $fontsize1;
    padding-top: 20px;
}
.form-group{
    color: $color4;
    font-size: $fontsize1;
    padding-top: 20px;
}

.main__section--ol li a:hover{
    color: $color3;
}
.main__section--ol a{    
    text-decoration: none;
    color: $color4;
}

.products_bijou{
    float: right;
}