$color1: white ;
$color2: #0e0eb9;
$color3:wheat;
$color4: rgb(9, 9, 151);
$color5: rgb(44, 44, 230);
$color6: rgba(128, 128, 128, 0.103);

$colorgradient1: linear-gradient(to right, #0a0a7a, #0b0bb3);
$colorgradient2: linear-gradient( #c2c2fd8c,white,);

$fontsize1: 25PX;
$fontsize2: 50px; 
$fontsize3: 60px;

$fontweight1: 400;
$fontweight2: 600;
$fontweight3: 700;
$fontweight4: 800;

$ancho1: 100%;
$ancho2: 50%;


$fontcolors:(
    red1: rgb(1, 1, 116),
    red2: rgb(17, 17, 158),
);

@media only screen and (min-width: 481px) and (max-width: 720px){
    #navbarmenubotton{
        transition: all 0.5s;
    }
    
    #navbarmenubotton:hover{
        font-weight: $fontweight3;
        font-size: $fontsize1;
        text-shadow: 0px 0px 30px $color3;
        text-decoration:underline;
        text-decoration-color: $color1;
    }
    
    .navbar-brand{
        color: $color1!important ;
        font-size: $fontsize1;
        margin: 10px;
        height: auto;
    }

    .navbar-toggler{
        background-color: $color1;
    }
    
    .bg-blue {
        background-image: linear-gradient(to right $colorgradient1) !important;
        color: $color1 !important;
        height: auto;
    }
    .main__sectiongrid{
        list-style-type: disc;
        display: grid;
        font-size: $fontsize1;
        grid-template-areas: 
        "imgli1" 
        "imgli2"
        "imgli3" 
        "imgli4"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
    
    .img1{
        grid-area: imgli1;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .img2{
        grid-area: imgli2;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .img3{
        grid-area: imgli3;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;        
    }
    .img4{
        grid-area: imgli4;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .tituloseccion{
        color:$color4;
        margin-left: 2em;
    }
    .tituloseccion3{
        color:$color4;
        margin-top: 20px;
        font-size: $fontsize2;
    }
    .tituloseccion2{
        color: $color4;
        margin-top: auto;
        font-size: $fontsize2;
    }
    
    .tituloseccion2{
        transition: all 0.5s;
    }
    .tituloseccion2:hover{
        color: $color5;
    }

    .label{
        font-size: 10px;
    }

    .phrase{ 
        font-size: 20px;
    }
    .phrasename{
        font-size: $fontsize1;
    }

    .p1{
        display: inline-block;                                        
        font-size: 20px;
        color: $color4;
        align-content:  center;
    }
    .section2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        display: grid;
        grid-template-areas: 
        "tituloseccion2"
        "p1" 
        "carouselExampleIndicators"
        ;
    }
    
    .section1{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
        "tituloseccion2 "
        "carouselExampleIndicators " 
        "p1"
        ;
    }
    .imgtituloseccion2{
        grid-area: tituloseccion2;
        width: 100%;
    }
    #carouselExampleIndicators{
        grid-area: carouselExampleIndicators;
        width: 150%;
    }
    .p1{
        grid-area: p1;
        width: 170%;
    }

    .footer{ 
    background-color: $color4;
    color: $color1;
    }
    .logosocial{ 
    width: 2em;
    margin-right: 10px;
    margin-left: 30px;
    }

    .footer_socialmedia{
    display: inline-block;
    font-size: 0.5em;
    list-style-type: none;
    }
}