$color1: red ;

$color2: linear-gradient( to bottom,rgba(8, 34, 151, 0.219),white ,white);



*{
    margin: 0;
    padding: 0;
}
/* body config*/


body {
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    line-height: 1.58em;
    font-size: x-large;
    flex-wrap: wrap;
    background-image: $color2 ;
    /*background-image: linear-gradient( to bottom,rgba(8, 34, 151, 0.219),white ,white)*/;
}

@import "_nav";
@import "_title";
@import "main-gird";
@import "footer";

@import "_mediascreenphone";
@import "_mediascreentablet";

main{
    margin: 20px;
    padding: 20px;
}
.description{
    text-align: center;
    color: rgb(10, 10, 122);
    margin: 50px;
}

.phrase{ 
    font-style:italic;
    font-weight: 700;
}
.phrasename{
    font-weight: bolder;
    font-size: larger;
}

/* carrousel*/

#carouselExampleIndicators{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.24);
    align-content: right;
}

/* arrancan las secciones*/

.p1{
    width: 60%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;                                        
    font-size: 25px;
    color: rgb(10, 10, 119);
    align-content:  center;
}

.p2{
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    display: inline-block;
    font-size: 25px;
    color: rgb(10, 10, 119);
}

main a img{
    width: 30%;
    margin-right: 30px;
    padding-right: 20px; 
}

.section1{
    margin-bottom: 100px;
}

.section2{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: minmax(100px, auto);
    display: grid;
    grid-template-areas: 
    "tituloseccion2 tituloseccion2"
    "p1 carouselExampleIndicators"
    ;
}

.section1{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: minmax(100px, auto);
    display: grid;
    grid-template-areas: 
    "tituloseccion2 tituloseccion2"
    "carouselExampleIndicators p1"
    ;
}
.imgtituloseccion2{
    grid-area: tituloseccion2;
    width: 100%;
}
#carouselExampleIndicators{
    grid-area: carouselExampleIndicators;
    width: 100%;
}
.p1{
    grid-area: p1;
    width: 90%;
}


/* main seccion santeria */

.main__santeria ol{
    margin: 20px;
    padding: 20px;
    list-style-type: none;
    text-decoration: none;
}
.main__santeria li a:hover{
    color: wheat;
}
.main__santeria a{    
    text-decoration: none;
    color: rgb(10, 10, 119);
}

div h2 {
    color: rgb(10, 10, 119);
    text-decoration: none;
}



.main__libros li a:hover{
    color: wheat;
}

.main__libros a{    
    text-decoration: none;
    color: rgb(10, 10, 119);
}


/* main section grdi start*/

/* fin de section grid*/
.form{
    color: rgb(10, 10, 119);
    font-size: 20px;
    padding-top: 20px;
}
.form-group{
    color: rgb(10, 10, 119);
    font-size: 20px;
    padding-top: 20px;
}

.main__section--ol li a:hover{
    color: wheat;
}
.main__section--ol a{    
    text-decoration: none;
    color: rgb(10, 10, 119);
}

.products_bijou{
    float: right;
}

