
*{
    margin: 0;
    padding: 0;
}
/* body config*/
body {
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    line-height: 1.58em;
    font-size: x-large;
    flex-wrap: wrap;
}



/* navegacion*/


.grillanav{
    align-content: center;
    list-style-type: disc;
    display: grid;
    grid-template-areas: 
    "h1 li li li li li"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.h1header{
    grid-area: h1;
    color: white;
    font-family:'Rubik', sans-serif;
    text-align: left; 
    margin-left: 30px;
    font-size: 1.5em;
    align-content: center;
    padding-top: 15px;
}    
nav {
    background-color: rgb(10, 10, 122);
    text-align: right;
    justify-content: center;
    height: 70px;
    align-content: center;
}

nav ul li{  
    display: inline;
    margin: 2em;
    font-size: 25px;
}

.navlist {
    margin-bottom: 15px;
    margin-top: 15px ;
}

nav a {
    text-decoration: none;
    color: white;
    
}
nav li a:hover {
    color: wheat;
}
/* termina el nav*/ 
/* frase antes de secciones*/

main{
    margin: 20px;
    padding: 20px;
}
.description{
    text-align: center;
    color: rgb(10, 10, 122);
    margin: 50px;
}

.phrase{ 
    font-style:italic;
    font-weight: 700;
}
.phrasename{
    font-weight: bolder;
    font-size: larger;
}


/* arrancan las secciones*/


.p1{
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;                                        
    font-size: 20px;
    color: rgb(10, 10, 119);
}
.p2{
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
    display: inline-block;
    font-size: 20px;
    color: rgb(10, 10, 119);
}

main a img{
    width: 30%;
    margin-right: 30px;
    padding-right: 20px; 
}
.tituloseccion{
    color:rgb(10, 10, 122);
    margin-left: 20px;
}
.tituloseccion3{
    color: rgb(10, 10, 119);
    margin-top: 20px;
    font-size: 30px;
    padding-left: 30px;
}
.tituloseccion2{
    color: rgb(10, 10, 119);
    margin-top: 50px;
    font-size: 45px;
    margin-bottom: 50px;
    padding-left: 30px;
}

#sectionsanteria{
    margin-bottom: 100px;
}
/* main seccion santeria */

.main__santeria ol{
    margin: 20px;
    padding: 20px;
    list-style-type: none;
    text-decoration: none;
}
.main__santeria li a:hover{
    color: wheat;
}
.main__santeria a{    
    text-decoration: none;
    color: rgb(10, 10, 119);
}

div h2 {
    color: rgb(10, 10, 119);
    text-decoration: none;
}



.main__libros li a:hover{
    color: wheat;
}

.main__libros a{    
    text-decoration: none;
    color: rgb(10, 10, 119);
}


/* main section grdi start*/
.main__sectiongrid{
    margin: 20px;
    margin-left: 50px;
    margin-bottom: 150px;
    list-style-type: disc;
    display: grid;
    grid-template-areas: 
    "imgli1 imgli2"
    "imgli3 imgli4"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.img1{
    grid-area: imgli1;
    width: 100%;
}

.img2{
    grid-area: imgli2;
    width: 100%;
}
.img3{
    grid-area: imgli3;
    width: 100%;
    
}
.img4{
    grid-area: imgli4;
    width: 100%;
}



.main__sectiongrid li a:hover{
    color: wheat;
}
.main__sectiongrid a{    
    text-decoration: none;
    color: rgb(10, 10, 119);
}
/* fin de section grid*/
.form{
    color: rgb(10, 10, 119);
    font-size: 20px;
    padding-top: 20px;
}

.main__section--ol li a:hover{
    color: wheat;
}
.main__section--ol a{    
    text-decoration: none;
    color: rgb(10, 10, 119);
}

.products_bijou{
    float: right;
}
/* footer*/

footer{ 
    background-color: rgb(10, 10, 122);
    color: white;
}

.logosocial{ 
    width: 2em;
    margin-right: 20px;
    margin-left: 30px;
}
.footer_socialmedia{
    display: inline-block;
    font-size: 0.7em;
    padding: 20px;
    list-style-type: none;
}

/* media*/ 


@media only screen and (min-width: 200px) and (max-width: 1350px){
    nav {
        flex-direction: column;
        height: auto;
        display: flex;
    }
    .main__sectiongrid{
        list-style-type: disc;
        display: grid;
        
        grid-template-areas: 
        "imgli1" 
        "imgli2"
        "imgli3" 
        "imgli4"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
    
    .img1{
        grid-area: imgli1;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .img2{
        grid-area: imgli2;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .img3{
        grid-area: imgli3;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;        
    }
    .img4{
        grid-area: imgli4;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .tituloseccion{
        color:rgb(10, 10, 122);
        margin-left: 2em;
    }
    .tituloseccion3{
        color: rgb(10, 10, 119);
        margin-top: 20px;
        font-size: 1.2em;
        padding-left: 30px;
    }
    .tituloseccion2{
        color: rgb(10, 10, 119);
        margin-top: 10px;
        font-size: 1.6em;
        margin-bottom: 50px;
        padding-left: 30px;
    }
    
}